.App {
  font-family: "Raleway";
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  background-image: url("./assets/pieniadze.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}
.container {
  background-color: #fff;
  padding: 40px;
  border-radius: 20px;
  font-weight: 800;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}
